@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Nunito;
  background-color: #ffffff;
}

.div-test {
  background-image: url("../src/assets/vector_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 18rem;
}

.card-scrollbar-container::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
